@import "tailwindcss";

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-14px);
    }
}

.animate-float {
    animation: float 3.5s ease-in-out infinite;
}


@media print {
    body {
        background: #05070c;
        color: white;
    }

    button {
        display: none;
    }
}